XML {
    display: none;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
  
    margin: 5px;
    text-align: left;
    color: #523819;
    background-image: url("https://media.istockphoto.com/vectors/seamless-pattern-supermarket-grocery-store-food-drinks-vegetables-vector-id1173579665?k=20&m=1173579665&s=612x612&w=0&h=WXiRMZEzzQCNGK2zf8-2RJFGl_1k_M8vsK3CqYO4b3E=");
  }
  
  h2 {
    font-size: 140%;
    color: #0d3427;
    margin-top: 10px;
  }
  
  p {
    font-size: 80%;
    color: #523819;
  }
  
  table {
    background-color: #fbf2cf;
    opacity: 0.8;
    border-color: #000000;
    border-width: thin;
    border-collapse: collapse;
    width: 75%;
  }
  
  th {
    border-color: #000000;
    font-size: 120%;
    color: #0d3427;
  }
  
  td {
    border-color: #000000;
    font-size: 100%;
    color: #523819;
    padding: 5px;
  }
  
  img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
  }
  
  .indent {
    margin-left: 78px;
  }
  